.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.4rem;
}

.footer a {
  color: var(--primary);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer a:hover {
  color: var(--text-muted);
  text-decoration: underline;
}
